@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);

/* margin e padding 0 para não ficar com margens nas laterais */
* {
  margin: 0px;
  padding: 0px;
}
/* body e html ocupando 100% da tela */
body,
html {
  height: 100%;
}

/* Criei uma div com um background pronto, min height de 100vh, pois irei criar outras cessões 
na mesma página com um botão inicial, border style para fazer o pontilhado na div, flex direction em colunas para
poder centralizar a imagem com os textos */
.banner {
  display: flex;
  background-image: url(../media/Fundo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  border-style: dashed;
  border-width: 2px;
  border-color: rgb(255, 183, 219);
  flex-direction: column;
}

/* Imagem pessoal, border radius para deixar a imagem com as bordas arredondadas, object fit para que a imagem preencha toda a caixa
mantendo a proporção */
.imageminicio {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 250px;
  border-radius: 80px;
  object-fit: cover;
}
/* Div contendo a imagem pessoal, utilizei flex 1 para ocupar 1/3 da tela, utilizei o align items para 
que a imagem fique mais próxima do Texto*/
.img-banner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

/* Div que contém os dois textos do banner*/
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pacifico;
  font-size: 20px;
  color: rgb(255, 183, 219);
}

/* Chamei a class da frase separado, pois queria ajustá-la com tamanhos e estilo diferentes */
.banner-frase {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 25px;
  font-style: italic;
  color: rgb(255, 183, 219);
  align-content: flex-end;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Div do botão */
.btn {
  display: flex;
  flex: 1;
  justify-content: center;
}
/* a do botão; height de 20px para que o pontilhado fiquei ajustado ao tamanho do texto, border-style dotted para
que a borda do botão fique pontilhada */
.btn-rosa {
  text-decoration: none;
  font-size: 20px;
  border-style: dotted;
  border-radius: 30px;
  padding: 15px 20px;
  color: rgb(255, 183, 219);
  font-weight: bold;
  height: 20px;
  text-transform: uppercase;
}

/* titílo da página de apresentação */
.titulo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 183, 219);
  font-family: Abel;
}
/*div da imagem da página de apresentação */
.imagem-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
/* imagem da página de apresentação */
.img-container {
  display: flex;
  width: 350px;
  border-radius: 10px;
  border-style: dashed;
  border-width: 3px;
  border-color: rgb(255, 183, 219);
}
/* Container com a descrição pessoal e habilidades */
.sobre-container-geral {
  display: flex;
  justify-content: space-around;
  font-family: Abel;
  padding-top: 30px;
}
/* Container com a descrição pessoal */
.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 19px;
}

/* Título: minhas habilidades */
.habilidades_titulo {
  display: flex;
  font-size: 20px;
  height: 25px;
}
/* Div com a listagem de habilidades */
.habilidades_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
/* li com a Listagem de habilidades */
.habilidades_lista {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  padding-left: 10px;
}
/* Div que engloba todas as divs das redes sociais */
.redes-container {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

/* Div que engloba as duas divs do linkedin e github */
.redes-sociais {
  display: flex;
  background-color: rgb(255, 183, 219);
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  font-family: Abel;
  padding: 20px;
  margin: 20px;
}
/* Imagens linkedin e git */
.redes-img {
  display: flex;
}

/* <a> que engloba o link, texto e imagem */
.redes-link {
  padding-top: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
}
/* Texto com o link do projeto */
.texto-projeto {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Abel;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.link-projeto {
  /* text-decoration: none; */
  color: rgb(255, 183, 219);
}

@media (max-width: 479px) {
  .imageminicio {
    width: 180px;
    height: 230px;
  }

  .container {
    font-size: 18px;
  }
  .banner-frase {
    display: flex;
    font-size: 18px;
    text-align: center;
  }

  .btn-rosa {
    font-size: 16px;
    padding: 10px 15px;
  }

  .titulo-section {
    font-size: 15px;
  }

  .img-container {
    display: flex;
    width: 300px;
  }

  .sobre-container {
    display: flex;
    font-size: 16px;
    padding-left: 5px;
  }

  .habilidades_lista {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-left: 20px;
  }

  .redes-sociais {
    display: flex;
    width: 50px;
    height: 80px;
  }

  .redes-img {
    display: flex;
    width: 50px;
  }
}
